.idea/
venv/
/.vs/*
/.vs/smdt/v16/.suo
/.vs/slnx.sqlite~Stashed changes
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
*.pyc
/database.s.dir
/database.s.bak
/database.s.dat
/.vs/PythonSettings.json
errors.txt

# Just in case there is the additon of the database.s.* stuff.
database.s.*
database.p
*.xml
*.tube
*.lock
*.s

# Trying to get rid of those .DS_Store files
*.DS_Store
